In [5]:
import pandas as pd

# Pos dictionary

In [6]:
data = {
    '"': [0], "''": [1], '#': [2], '$': [3], '(': [4], ')': [5], ',': [6], '.': [7], ':': [8], '``': [9], 'CC': [10], 'CD': [11],
    'DT': [12], 'EX': [13], 'FW': [14], 'IN': [15], 'JJ': [16], 'JJR': [17], 'JJS': [18], 'LS': [19], 'MD': [20], 'NN': [21],
    'NNP': [22], 'NNPS': [23], 'NNS': [24], 'NN|SYM': [25], 'PDT': [26], 'POS': [27], 'PRP': [28], 'PRP$': [29], 'RB': [30],
    'RBR': [31], 'RBS': [32], 'RP': [33], 'SYM': [34], 'TO': [35], 'UH': [36], 'VB': [37], 'VBD': [38], 'VBG': [39],
    'VBN': [40], 'VBP': [41], 'VBZ': [42], 'WDT': [43], 'WP': [44], 'WP$': [45], 'WRB': [46]
}

pos = pd.DataFrame(data)
pos = pos.transpose()
pos = pos.reset_index()
pos.columns = ['feature', 'index']
pos

   feature  index
0        "      0
1       ''      1
2        #      2
3        $      3
4        (      4
5        )      5
6        ,      6
7        .      7
8        :      8
9       ``      9
10      CC     10
11      CD     11
12      DT     12
13      EX     13
14      FW     14
15      IN     15
16      JJ     16
17     JJR     17
18     JJS     18
19      LS     19
20      MD     20
21      NN     21
22     NNP     22
23    NNPS     23
24     NNS     24
25  NN|SYM     25
26     PDT     26
27     POS     27
28     PRP     28
29    PRP$     29
30      RB     30
31     RBR     31
32     RBS     32
33      RP     33
34     SYM     34
35      TO     35
36      UH     36
37      VB     37
38     VBD     38
39     VBG     39
40     VBN     40
41     VBP     41
42     VBZ     42
43     WDT     43
44      WP     44
45     WP$     45
46     WRB     46

# Chunk dictionary

In [11]:
data = {
    'O': [0], 'B-ADJP': [1], 'I-ADJP': [2], 'B-ADVP': [3], 'I-ADVP': [4], 'B-CONJP': [5], 'I-CONJP': [6], 'B-INTJ': [7], 'I-INTJ': [8],
    'B-LST': [9], 'I-LST': [10], 'B-NP': [11], 'I-NP': [12], 'B-PP': [13], 'I-PP': [14], 'B-PRT': [15], 'I-PRT': [16], 'B-SBAR': [17],
    'I-SBAR': [18], 'B-UCP': [19], 'I-UCP': [20], 'B-VP': [21], 'I-VP': [22]
}

chunk = pd.DataFrame(data)
chunk = chunk.transpose()
chunk = chunk.reset_index()
chunk.columns = ['feature', 'index']
chunk

    feature  index
0         O      0
1    B-ADJP      1
2    I-ADJP      2
3    B-ADVP      3
4    I-ADVP      4
5   B-CONJP      5
6   I-CONJP      6
7    B-INTJ      7
8    I-INTJ      8
9     B-LST      9
10    I-LST     10
11     B-NP     11
12     I-NP     12
13     B-PP     13
14     I-PP     14
15    B-PRT     15
16    I-PRT     16
17   B-SBAR     17
18   I-SBAR     18
19    B-UCP     19
20    I-UCP     20
21     B-VP     21
22     I-VP     22

# NER dictionary

In [9]:
data = {
    'O': [0], 'B-PER': [1], 'I-PER': [2], 'B-ORG': [3], 'I-ORG': [4], 'B-LOC': [5], 'I-LOC': [6], 'B-MISC': [7], 'I-MISC': [8]
}

ner = pd.DataFrame(data)
ner = ner.transpose()
ner = ner.reset_index()
ner.columns = ['feature', 'index']
ner

  feature  index
0       O      0
1   B-PER      1
2   I-PER      2
3   B-ORG      3
4   I-ORG      4
5   B-LOC      5
6   I-LOC      6
7  B-MISC      7
8  I-MISC      8

# Save in excel

In [10]:
# export to excel sheets
with pd.ExcelWriter('../dictionary_table.xlsx') as writer:
    pos.to_excel(writer, sheet_name='pos_dictionary', index=False)
    chunk.to_excel(writer, sheet_name='chunk_dictionary', index=False)
    ner.to_excel(writer, sheet_name='ner_dictionary', index=False)